body {
    text-decoration: none;
    
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
.page{
    height: 100%;
}
.page-body{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
/* Тесты для обводки 
.number{
    width: 12px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}
.style-number p{
    width: 70px;
    height: 70px;
    background-color: #8D7370;
    border-radius: 50%;
} */
